@font-face { font-family: GlitchGoblin; src: url('fonts/GlitchGoblin-2O87v.ttf'); } 

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}


.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}
  
.nav li {
    float: right;
}
  
.nav li a {
    font-family: 'GlitchGoblin';
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
}

.nav li a:hover {
    background-color: #342e2e;
    color: red;
}

.nav img {
    float: left;
}

h1 {
    font-family: 'GlitchGoblin';
    font-size: 40px;
}

p {
    margin-top: -27px;
}

section {
	height: 100vh;
	padding: 2em;
	margin-top: 20px;
	opacity: 0;
	transition: opacity 1s ease-in-out;
    color: white;
    background-color: black;
    border-radius: 20px;
}

section.show {
	opacity: 1;
}

section:nth-of-type(odd) {
	background: #000000;
}

section:nth-of-type(even) {
	background: #e2e2e2;
}

.cursor-container {
    position: relative;
}

.cta-button {
    padding: 20px 40px;
    background-color: red; /* Main color is red */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('cursor.png'); /* Placeholder cursor image */
    background-size: cover;
    transform-origin: center;
    pointer-events: none;
    z-index: 1000;
}
