@font-face { font-family: GlitchGoblin; src: url('fonts/GlitchGoblin-2O87v.ttf'); } 

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}
  
.nav li {
    float: right;
}
  
.nav li a {
    font-family: 'GlitchGoblin';
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
}

.nav li a:hover {
    background-color: #342e2e;
    color: red;
}

.nav img {
    float: left;
}

h1 {
    font-family: 'GlitchGoblin';
    font-size: 40px;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

p {
    margin-top: -27px;
}

.show {
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}

.hidden {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
